html {
    cursor: url('./gifs/Guillotine_smiley.gif'), pointer;
    height: 100vh;
    font-size: 20px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family:'Courier New', Courier, monospace;
    background-image: url('./gifs/starbkg2.gif');
    color: #00ff00;
}

h1 {
    font-family: cursive;
}

h2 {
    font-family: 'Brush Script MT', cursive;
}

img {
    margin: 2px;
}

.flex {
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.flex-vert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.transparent-bkg {
    background-color: transparent;
}

.hide-on-mobile {
    display: none;
}

@media screen and (min-width: 800px) {
    .hide-on-mobile {
        display: inline-block;
    }
}

.top {
    justify-content: space-evenly;
    width: 100%;
}

.dog h2 {
    margin: 0 20px;
    font-size: 2.25rem;
    font-family: "Luminari", Fantasy, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.letter {
    height: 50px;
}

.versai {
    float: left;
    margin-right: 20px;
}

.bastille-desc {
    font-family: "Comic Sans MS";
    max-width: 700px;
    width: 80%;
}

label, input {
    height: 48px;
    font-size: 48px;
}

h1.invite {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.rsvp-button {
    margin: 40px;
    font-size: 2rem;
    background-color:tomato;
    color: white;
    border-radius: 15px;
    width: 150px;
}